.git
.gitignore
.gitattributes
.DS_Store
.env
.env.backup
.env.production
node_modules
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.vscode
.idea
.fleet
.phpactor.json
*.log
Homestead.json
Homestead.yaml
Thumbs.db
